body {
    background-color: #f5f5dc; /* Light beige */
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-image: 
        radial-gradient(circle, #fff 1%, transparent 1%),
        radial-gradient(circle, #fff 1%, transparent 1%);
    background-position: 0 0, 5px 5px;
    background-image: url('assets/scrapbook_coverpage.avif');
    background-repeat: repeat;
}

h1 {
    font-size: 48px;
    color: #6B4E3D; /* Warm color for the slogan */
}

#preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* This replaces the marginRight in your JavaScript and is more flexible */
    overflow: hidden; /* Prevent overflow */
    max-width: calc(100% - 40px); /* Adjust max-width to account for padding */
}

#uploadForm {
    background-image: url('assets/redthread_hands.png'); /* Add this line to set the background image */
    background-size: cover; /* Adjust the size of the background image to cover the entire form */
    background-position: center; /* Center the background image */
    background-color: rgba(255, 255, 255, 0.8); /* Background color with opacity */
    border: 25px solid #ffffff; /* White border for the Polaroid effect */
    border-bottom: 55px solid #ffffff; /* Increase the border for the bottom part */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a slight 3D effect */
    padding: 80px; /* Increased padding */
    margin: auto; /* Center the form */
    width: 60vw; /* Full width of viewport */
    height: 60vh; /* Full height of viewport */
    max-width: 550px;
    max-height: 2000px;
    text-align: center;
    /* margin-top: 50px; */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    margin-top: 5vh; /* Center vertically using viewport height */
    width: calc(33.33% * 3); 
}

input[type="file"] {
    border: 3px solid #9b9090; /* subtle border for the file input */
    display: block;
    width: 80%; /* Adjust as needed */
    margin: 20px auto; /* Center the input horizontally and give some space */
    padding: 10px; /* Make the file input taller */
}

button {
    background-color: #6B4E3D; /* Choose a color that fits the scrapbook theme */
    color: #fff; /* White text */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-family: 'Playfair Display', cursive;
    vertical-align: middle;
}

button:hover {
    background-color: #50372B; /* A darker shade when hovered */
}

/* Optionally, you might want to style the h1 separately for more control */
#uploadForm h1 {
    background-color: transparent; /* Ensure the title has no background */
    color: #685353; /* A color that stands out */
    font-size: 60px; /* Or any other size that fits well */
    font-family: 'Playfair Display', cursive;
    margin-bottom: 5px;
    margin-top: 0px;
}

#uploadForm h2 {
    background-color: transparent; /* Ensure the title has no background */
    color: #685353; /* A color that stands out */
    font-size: 20px; /* Or any other size that fits well */
    font-family: 'Playfair Display', cursive;
    margin-top: 30px;
    margin-bottom: 20px;
}

#logoImage {
    width: 190px;
    height: auto;
    display: block;
    margin: 0px auto; /* Center the logo inside the form */
    opacity: 0.8; /* Adjust the opacity to ensure it blends well but remains visible */
}

/* Hide the default file input */
#imageInput {
    display: none;
}
/* Style for the custom button container */
.custom-file-input {
    position: relative;
    display: inline-block;
    vertical-align: middle; /* Align to the middle of the line */
    background-color: #6B4E3D; /* Button background color */
    color: white; /* Button text color */
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 50%; /* Make the button circular */
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change button background color on hover */
.custom-file-input:hover {
    background-color: #50372B; /* Hover background color */
}

/* Style for the "+" symbol */
.upload-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

button:hover {
    background-color: #50372B; /* A darker shade when hovered */
}
